In [14]:
import pandas as pd

## Create Long Dataset

In [15]:
# Load the Nationalities Dataframe
arrivals = pd.read_csv('../data/nationality_trends.csv')

In [16]:
# Make Dataset Long
arrivals = pd.pivot(arrivals, index=['Year', 'Month', 'district_c', 'Season'], columns=['Nationality'], values='Arrivals').reset_index()
arrivals.head(5)

Nationality,Year,Month,district_c,Season,Austria,Benelux countries,Germany,Italy,Other countries,Switzerland and Liechtenstein
0,2010,1.0,1,Winter,462.0,91.0,1768.0,10319.0,1763.0,170.0
1,2010,1.0,2,Winter,879.0,188.0,6825.0,16375.0,1460.0,638.0
2,2010,1.0,3,Winter,985.0,726.0,23137.0,18697.0,3739.0,636.0
3,2010,1.0,4,Winter,4667.0,5578.0,73048.0,119307.0,31884.0,1356.0
4,2010,1.0,5,Winter,2062.0,5680.0,32218.0,54304.0,21193.0,1342.0

In [17]:
# Get Rid of Null Values 

arrivals['Austria'] = arrivals['Austria'].fillna(0)
arrivals['Benelux countries'] = arrivals['Benelux countries'].fillna(0)
arrivals['Germany'] = arrivals['Germany'].fillna(0)
arrivals['Italy'] = arrivals['Italy'].fillna(0)
arrivals['Other countries'] = arrivals['Other countries'].fillna(0)
arrivals['Switzerland and Liechtenstein'] = arrivals['Switzerland and Liechtenstein'].fillna(0)

In [18]:
# Sum Arrivals of Diff Nationalities

arrivals['Arrivals']= arrivals['Austria'] + arrivals['Benelux countries'] + arrivals['Germany'] + arrivals['Italy'] + arrivals['Other countries'] + arrivals['Switzerland and Liechtenstein']

In [19]:
district_code_map = {1: "Bozen", 2: "Burggrafenamt", 3: "Eisacktal", 4: "Pustertal", 5: "Salten-Schlern", 6: "Uberetsch-Unterland", 7: "Vinschgau", 8: "Wipptal"}

In [20]:
def mapCodeToName(code):
    return district_code_map[code]

In [21]:
arrivals['District'] = arrivals['district_c'].map(mapCodeToName)

In [22]:
arrivals.head(5)

Nationality,Year,Month,district_c,Season,Austria,Benelux countries,Germany,Italy,Other countries,Switzerland and Liechtenstein,Arrivals,District
0,2010,1.0,1,Winter,462.0,91.0,1768.0,10319.0,1763.0,170.0,14573.0,Bozen
1,2010,1.0,2,Winter,879.0,188.0,6825.0,16375.0,1460.0,638.0,26365.0,Burggrafenamt
2,2010,1.0,3,Winter,985.0,726.0,23137.0,18697.0,3739.0,636.0,47920.0,Eisacktal
3,2010,1.0,4,Winter,4667.0,5578.0,73048.0,119307.0,31884.0,1356.0,235840.0,Pustertal
4,2010,1.0,5,Winter,2062.0,5680.0,32218.0,54304.0,21193.0,1342.0,116799.0,Salten-Schlern

In [23]:
overall_trends = pd.read_csv('../data/overall_trends.csv')

In [24]:
arrivals = arrivals.merge(overall_trends, on=["Year","Month", "district_c"], suffixes=("", "o"))

In [26]:
arrivals.to_csv('../data/nationality_long.csv', index=False)

### Create Overall Top

In [30]:
arrivalCounts = pd.read_csv("../data/overall_trends.csv")
arrivalCounts = arrivalCounts.groupby(['Year', 'district_c']).sum().reset_index()

In [33]:
arrivalCounts['Rank'] = arrivalCounts.groupby(['Year'])['Arrivals'].rank(ascending=False)

In [34]:
arrivalCounts

    Year  district_c  Month  Unnamed: 0  Arrivals  Present  Rank
0   2010           1   78.0      261192    258727   574849   8.0
1   2010           2   78.0     6556830   1182136  6382967   2.0
2   2010           3   78.0     3371868    556041  2493437   4.0
3   2010           4   78.0     7040583   1637302  8811217   1.0
4   2010           5   78.0     3619091    888550  5050970   3.0
..   ...         ...    ...         ...       ...      ...   ...
83  2020           4   78.0   128644041   1519598  7547735   1.0
84  2020           5   78.0    64851488    792217  4131894   3.0
85  2020           6   78.0    81331888    280957  1267125   6.0
86  2020           7   78.0    64621885    373635  1630481   5.0
87  2020           8   78.0    31277832    251566   911089   7.0

[88 rows x 7 columns]

In [37]:
arrivalCounts = arrivalCounts.sort_values(by=['Year', 'Rank'])

In [39]:
arrivalCounts.to_csv('../data/districts_ranked.csv', index=False)

### Create Overall Top By Nationality

In [3]:
nationality_long_df = pd.read_csv('../data/nationality_long.csv')

In [12]:
filters = ['Year', 'district_c', 'District'] 

yearly_nationality_district = nationality_long_df.groupby(filters).sum().reset_index()

In [14]:
yearly_nationality_district.to_csv('../data/yearly_arrivals_by_nat_and_dist.csv', index=False)