In [1]:
import pandas as pd

In [2]:
nationalityTrends2010=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [5]:
nationalityTrends2010 = nationalityTrends2010.fillna(method='ffill', axis=0)

In [15]:
nationalityTrends2010.head(10)

,Mese di riferimento,Giorno di riferimento,Beschreibung Gemeinde,nationaggr3_desc,Arrivi del giorno,Presenti del giorno
0,1.0,1.0,Abtei,Andere Länder,33,365
1,1.0,1.0,Abtei,Beneluxstaaten,8,74
2,1.0,1.0,Abtei,Deutschland,27,1198
3,1.0,1.0,Abtei,Italien,457,7054
4,1.0,1.0,Abtei,Schweiz und Liechtenstein,0,22
5,1.0,1.0,Abtei,Österreich,0,10
6,1.0,1.0,Ahrntal,Andere Länder,3,78
7,1.0,1.0,Ahrntal,Beneluxstaaten,0,117
8,1.0,1.0,Ahrntal,Deutschland,186,2765
9,1.0,1.0,Ahrntal,Italien,247,2081

In [18]:
nationalityTrends2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202479 entries, 0 to 202478
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Mese di riferimento    202479 non-null  float64
 1   Giorno di riferimento  202479 non-null  float64
 2   Beschreibung Gemeinde  202479 non-null  object
 3   nationaggr3_desc       202479 non-null  object
 4   Arrivi del giorno      202479 non-null  int64
 5   Presenti del giorno    202479 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 9.3+ MB

In [23]:
nationalityTrends2010.describe()

,Mese di riferimento,Giorno di riferimento,Arrivi del giorno,Presenti del giorno
count,202479.000000,202479.000000,202479.000000,202479.000000
mean,6.513283,15.706676,28.147028,141.152865
std,3.296287,8.839149,90.222881,393.927855
min,1.000000,1.000000,0.000000,0.000000
25%,4.000000,8.000000,0.000000,6.000000
50%,7.000000,16.000000,4.000000,23.000000
75%,9.000000,23.000000,19.000000,94.000000
max,12.000000,31.000000,3379.000000,7098.000000

In [7]:
catTrends2010=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [8]:
catTrends2010 = catTrends2010.fillna(method='ffill', axis=0)

In [16]:
catTrends2010.head(10)

,Mese di riferimento,Giorno di riferimento,Beschreibung Bezirksgemeinschaft,ctt1aggr_desc,Arrivi del giorno,Presenti del giorno
0,1.0,1.0,Bozen,1-2 Sterne,76,294
1,1.0,1.0,Bozen,3 Sterne,316,988
2,1.0,1.0,Bozen,4-5 Sterne,562,1336
3,1.0,1.0,Bozen,Andere Betriebe,10,85
4,1.0,1.0,Bozen,Privatquartiere,2,14
5,1.0,1.0,Bozen,Urlaub auf dem Bauernhof,7,26
6,1.0,1.0,Burggrafenamt,1-2 Sterne,137,1219
7,1.0,1.0,Burggrafenamt,3 Sterne,622,6246
8,1.0,1.0,Burggrafenamt,4-5 Sterne,527,6331
9,1.0,1.0,Burggrafenamt,Andere Betriebe,14,369

In [19]:
catTrends2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23196 entries, 0 to 23195
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Mese di riferimento               23196 non-null  float64
 1   Giorno di riferimento             23196 non-null  float64
 2   Beschreibung Bezirksgemeinschaft  23196 non-null  object
 3   ctt1aggr_desc                     23196 non-null  object
 4   Arrivi del giorno                 23196 non-null  int64
 5   Presenti del giorno               23196 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.1+ MB

In [21]:
catTrends2010.describe()

,Mese di riferimento,Giorno di riferimento,Arrivi del giorno,Presenti del giorno
count,23196.000000,23196.000000,23196.000000,23196.000000
mean,6.533928,15.706975,245.696758,1232.130152
std,3.391799,8.807244,515.689308,2144.118683
min,1.000000,1.000000,0.000000,0.000000
25%,4.000000,8.000000,17.000000,115.000000
50%,7.000000,16.000000,74.000000,400.000000
75%,9.000000,23.000000,245.000000,1310.250000
max,12.000000,31.000000,12954.000000,19858.000000

In [12]:
catTrends2010Strange=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='DiffCat')

In [13]:
catTrends2010Strange = catTrends2010Strange.fillna(method='ffill', axis=0)

In [17]:
catTrends2010Strange.head(10)

,Mese di riferimento,Giorno di riferimento,verband_desc,ctt1aggr_desc,Arrivi del giorno,Presenti del giorno
0,1.0,1.0,Alta Badia,1-2 Sterne,154,2654
1,1.0,1.0,Alta Badia,3 Sterne,246,4217
2,1.0,1.0,Alta Badia,4-5 Sterne,236,3070
3,1.0,1.0,Alta Badia,Campingplätze,277,1540
4,1.0,1.0,Alta Badia,Privatquartiere,85,2413
5,1.0,1.0,Alta Badia,Privatquartiere mit Vertrag,2,121
6,1.0,1.0,Alta Badia,Residence,55,2484
7,1.0,1.0,Alta Badia,Urlaub auf dem Bauernhof,50,581
8,1.0,1.0,Eggental,1-2 Sterne,46,673
9,1.0,1.0,Eggental,3 Sterne,66,1419

In [20]:
catTrends2010Strange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28652 entries, 0 to 28651
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Mese di riferimento    28652 non-null  float64
 1   Giorno di riferimento  28652 non-null  float64
 2   verband_desc           28652 non-null  object
 3   ctt1aggr_desc          28652 non-null  object
 4   Arrivi del giorno      28652 non-null  int64
 5   Presenti del giorno    28652 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.3+ MB

In [22]:
catTrends2010Strange.describe()

,Mese di riferimento,Giorno di riferimento,Arrivi del giorno,Presenti del giorno
count,28652.000000,28652.000000,28652.000000,28652.000000
mean,6.496126,15.723929,198.910443,997.504223
std,3.408034,8.814015,394.643517,1586.706009
min,1.000000,1.000000,0.000000,0.000000
25%,4.000000,8.000000,11.000000,89.000000
50%,7.000000,16.000000,57.000000,374.000000
75%,9.000000,23.000000,196.000000,1249.000000
max,12.000000,31.000000,7628.000000,14075.000000